{% raw %}
<section class="container">
  <header>
    <h1>Trip Itinerary</h1>
    <span>to {{$vm.details.city}}</span>
    <button class="btn btn-primary">Book It!</button>
  </header>
  <div class="">
    <header class="trip-general-info">
      <div class="trip-price">
        <span>{{ $vm.details.price.total | currency }}</span>
      </div>
    </header>
  </div>

  <div class="itinerary-flight">
    <h2>Departure Flight <i class="itinerary-icon flight-icon flight-departure"></i></h2>
    <span>SFO {{$vm.details.DepartureDateTime | date:"h:mm a MMMM d, yyyy" }}</span>
    --&gt;
    <span>{{ $vm.details.DestinationLocation }}</span>
  </div>

  <div class="itinerary-hotel">
    <h2>Hotels Recommendations <span>Pick one</span></h2>

    <ul class="list-unstyled list-inline">
      <li class="hotel-option" ng-repeat="hotel in $vm.hotels track by $index">
        <div>
          <label for="hotel-{{$index}}">
            <img src="" alt="hotel">
          </label>
          <span>{{hotel.property_nam}}</span>
          <span>{{hotel.total_price.amount | currency }}</span>
          <input id="hotel-{{$index}}" name="hotel" type="radio">
        </div>
      </li>
    </ul>
  </div>

  <div class="itinerary-flight">
    <h2>Arrival Flight <i class="itinerary-icon flight-icon flight-arrival"></i></h2>
    <h3>{{$vm.details.in.airline}}</h3>
    <span>{{$vm.details.DestinationLocation}} {{$vm.details.DepartureDateTime | date:"h:mm a MMMM d, yyyy" }}</span>
    --&gt;
    <span>SFO</span>
  </div>
</section>
{% endraw %}
