{% raw %}
<section class="container">
  <button class="btn btn-success btn-fab btn-action shadow-z-4" tooltip="Click to Book!">
    <i class="mdi-action-book"></i>
  </button>
  <header class="row">
    <h1 class="col-sm-9">Trip Itinerary <span>to {{$vm.details.city}}</span></h1>
    <div class="col-sm-3 text-right"><button class="btn btn-primary">Book It!</button></div>
  </header>
  <div class="">
    <header class="trip-general-info">
      <div class="trip-price">
        <span>{{ $vm.details.price.total | currency }}</span>
      </div>
    </header>
  </div>

  <div class="well shadow-z-2">
    <div class="itinerary-flight">
      <h2>Departure Flight</h2>
      <div class="flight-content pull-right">
        <span><b class="IATA-origin text-primary">SFO</b> {{$vm.details.DepartureDateTime | date:"h:mm a MMMM d, yyyy" }}</span>
        <i class="itinerary-icon flight-icon flight-departure"></i>
        <span><b class="IATA-destination text-danger">{{ $vm.details.DestinationLocation }}</b></span>
      </div>
    </div>

    <div class="itinerary-flight">
      <h2>Return Flight</h2>
      <div class="flight-content pull-right">
        <span><b class="IATA-destination text-danger">{{$vm.details.DestinationLocation}}</b> {{$vm.details.DepartureDateTime | date:"h:mm a MMMM d, yyyy" }}</span>
        <i class="itinerary-icon flight-icon flight-arrival"></i>
        <span><b class="IATA-origin text-primary">SFO</b></span>
      </div>
    </div>

    <hr>

    <div class="itinerary-hotel">
      <h2>Hotels Recommendations <div class="logo-amadeus"></div></h2>

      <ul class="list-unstyled list-inline">
        <li class="hotel-option" ng-repeat="hotel in $vm.hotels track by $index">
          <div class="hotel-card panel">
            <label for="hotel-{{$index}}">
              <img ng-src="/static/images/photos/{{$vm.details.city}}-{{$index}}.jpg" alt="hotel">
            </label>
            <div class="hotel-content">
              <div class="hotel-name">{{hotel.property_name}}</div>
              <div class="hotel-price text-left">{{hotel.total_price.amount | currency }}</div>
            </div>
            <input id="hotel-{{$index}}" name="hotel" type="radio" hidden>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="itinerary-gallery">
    <h2 class="text-center">Gallery</h2>
    <div class="gallery-wrap">
      <div class="gallery-item" ng-repeat="image in $vm.venues.photos" style="background-image: url('{{image}}')"></div>
    </div>
  </div>
</section>
{% endraw %}
