{% raw %}
<section class="container">
  <hgroup>
    <h1 class="trip-title">Your Trip Recommendations <span class="logo-sabre"></span></h1>
    <div class="trip-information">
      <span class="theme-content">
        <i class="theme-icon theme-{{$vm.tripInfo.theme | lowercase}}"></i>
        {{ $vm.tripInfo.theme }}
      </span>
      <span class="date-content">{{ $vm.tripInfo.startDate | date:'MMMM d, yyyy' }} -</span>

      <span class="date-content">{{ $vm.tripInfo.endDate | date:'MMMM d, yyyy' }}</span>
    </div>
  </hgroup>

  <article class="trip-panel container-fluid panel" id="trip-{{$index}}" ng-repeat="trip in $vm.tripList track by $index" data-delay="{{$index}}">
    <div>
      <hgroup>
        <h2>{{ trip.city }} - {{trip.DestinationLocation}}</h2>
      </hgroup>

      <div class="trip-flights">
        <div class="price-section">
          <div class="price-title">Lowest Nonstop</div>
          <div class="price-amount {{ trip.LowestNonStopFare == trip.LowestFare ? 'text-primary' : ''}}">{{ trip.LowestNonStopFare | currency }}</div>
        </div>

        <div class="price-section">
          <div class="price-title">Lowest</div>
          <div class="price-amount {{ trip.LowestNonStopFare >= trip.LowestFare ? 'text-primary': '' }}">{{ trip.LowestFare | currency }}</div>
        </div>
      </div>

      <div class="text-right">
        <a class="btn btn-primary" ng-href="/trip/{{$index}}" ng-click="$vm.selectTrip(trip)">View this Trip</a>
        <!--<button class="btn btn-success">Book this Trip!</button>-->
      </div>
    </div>
    <div ui-view></div>
  </article>

</section>
{% endraw %}
