.wl-datepicker {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;

  > table {
    margin: 0 auto;
  }
}

.currency-input {
  padding-left: 15px;
  position: relative;

  &::before{
    content: '$';
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
  }
}

.theme-select {
  option {
    text-transform: capitalize;
  }
}
