$gutterSize: 15px;
$themeIcon: (
  'beach',
  'disney',
  'gambling',
  'historic',
  'mountains',
  'national-parks',
  'outdoors',
  'romantic',
  'shopping',
  'skiing',
  'theme-park',
  'caribbean'
);

@import "site_header";
@import "home";
@import "itinerary";

.wl-title {
  font-family: Oxygen;
  font-weight: bold;
  font-size: 54px;
}

.wl-subtitle {
  font-size: 20px;
}

.datepicker-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s;

  &.focused {
    max-height: 500px;
  }
}

.icon-inline {
  vertical-align: middle;
}

.trip-panel {
  position: relative;
}

.trip-activity-group {
  overflow-y: hidden;
  white-space: nowrap;
}

.trip-activity {
  display: inline-block;
  height: 100px;
  width: 100px;

  img {
    height: inherit;
    width: inherit;
  }
}

.trip-price {
  position: absolute;
  text-align: right;
  width: 100%;
  right: $gutterSize;

  span {
    font-size: 36px;
  }
}

.theme-content,
.date-content {
  font-size: 22px;
}

.theme-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: transparent none no-repeat center / contain;
  vertical-align: bottom;

  @each $theme in $themeIcon {
    &.theme-#{$theme} {
      background-image: url(../../images/themes/#{$theme}.png);
    }
  }
}

.trip-information {
  margin-bottom: 25px;
}

.itinerary-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: transparent none no-repeat center / contain;
  vertical-align: bottom;

  &.flight-icon {
    background-image: url(../../images/icons/flight.png);

    &.flight-departure {

    }

    &.flight-arrival {
      transform: rotate(180deg);
    }
  }
}

.logo-amadeus {
  background: transparent no-repeat center / contain;
  background-image: url(../../images/amadeus.png);
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;

  &::before {
    content: "Powered By: ";
    font-size: 1.2rem;
    position: absolute;
    left: -70%;
    top: 50%;
    margin-top: -.5em;
  }
}

.logo-sabre {
  background: transparent no-repeat center / contain;
  background-image: url(../../images/sabre.png);
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;


  &::before {
    content: "Powered By: ";
    font-size: 1.2rem;
    position: absolute;
    left: -85%;
    top: 50%;
    margin-top: -.25em;
  }
}

.trip-title {
  position: relative;
}

.price-section {
  display: inline-block;
  width: 25%;
  //height: 100px;

  .price-title {
    font-size: 14px;
    color: gray;
  }

  .price-amount {
    font-size: 24px;
  }
}
